*{
    padding: 0;
    margin: 0;
}
header, main, footer{
    background-color: rgb(176, 228, 245);
    padding: 30px 20px;
    margin: 0 20px;
}
h1{
    color: black;
    position: absolute;
    left: 50px;
    top: 0;
    line-height: 90px;
}
header a{
    color: black;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
header li{
    display: inline;
    margin-right: 4vw;
    height: 80px;
    width: 100%;
}
header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 90px;
}
.welcome{
    background-color: rgb(176, 228, 245);
    color: white;
    height: 80vh;
    background-image: url(image/starburst\ stream.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome h2{
    font-size: 60px;
}
.welcome p{
    font-size: 18px;
}
.info li{
    display: inline;
    left:1vw;
}
.info a{
    text-decoration: none;
}
.DC{
    position: relative;
    top: 8px;
    left: 5px;
}
footer{
    height: 10px;
    background-color: rgb(186, 186, 186);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}